## ignore libraries installed via npm
node_modules/

## ignore npm error logs
npm-debug.log

## ignore webpack-built files
dist/app-bundle.js

## ignore db files
db/

## ignore .DS_STORE files
.DS_Store
