.mainTitle {
  font-size: 25px;
  color: yellow;
}

.riderList {
  margin-left: auto;
  margin-right: auto;
}

.mainHeader {
  color: yellow;
}

.riderListDiv {
  width: auto;
  height:210px;
  border: 13px solid #bed5cd;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
/*.nav {
  position: fixed;
}*/

.navDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

div.map {
  padding: .1%;
  height: 95vh;
  max-height: 400px;
}

.googleMap {
  max-height: 400px;
  max-width: 500px;
  height: 70%;
  width: 70%;
}

.driveButton {
  max-width: 375;
  margin-left: auto;
  margin-right: auto;
}

.well {
  max-width: 400px;
  margin: '0 auto 8px';
  background-color: #F4F6FE;
  margin-left: auto;
  margin-right: auto;
}

.rightButton {
  max-height: 25%;
  max-width: 125px;
}

.userImage {
  max-width: 150px;
  max-height: 150px;
}

.duiFacts {
  text-align: center;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

/*.bottomButton {
  margin-left: auto;
  margin-right: auto;
}*/

.bottomNav {
  text-align: center;
}

.BottomNavBarContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

.settingsDiv {
  margin: auto;
}

.settingsButton {
  max-height: 25%;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

/*.settingsDiv {
  margin: 10px;
  padding: 5px;
}*/
