.map {
  text-align: center;
  padding: .1%;
  height: 95vh;
}

nav.navbar {
	background-color: white;
}

div.DriveDiv {
	margin: 50px;
}

div.RideDiv{
	margin: 50px;
}


.SplashMap {
	position: absolute;
}

h2 {
	margin: 50px;
}