body {
  font-weight: 600;
  background-color: #FAFCFF;
}

.alert {
  margin: 5px;
}
/*
*   ~_~_TOP NAV BAR~_~
*/

.mainTitle {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 10px 0;
  height: 75%;
  width: 33%;
  margin-top: 7px;
  margin-bottom: auto;
}
.btn-block.btn.btn-lg.btn-primary {
  height: 150px;
}

.btn {
  background-color: #1A273B;
  border-style: solid;
  border-color: #FAFCFF;
  color: #FAFCFF;
}

.btn-group, .dropdown {
  display: inline-block;
  float: left;
  margin: 10px 0 10px 10px;
}

.nav {
  position: relative;
  background-color: #1A273B;
  color: #FAFCFF;
}

.topNavBarButton, .endDrivingButton, .CancelRideButton, .pickUpButton, .completeRideButton {
  display: inline-block;
  float: right;
  margin: 10px 10px 10px 0;
}
/*
*   ~_~_RIDER LIST_~_~
*/
/*fcf8f8*/

.riderItem {
  margin-left: auto;
  margin-right: auto;
}
.riderList {
  margin-left: auto;
  margin-right: auto;
}

.riderListDiv {
  margin: auto;
  max-width: 95%;
  height: px;
  border: 3px solid black;
  overflow-x: scroll;
  overflow-y: ;
  padding: 5px;
}

.riderItemDiv {
  margin: 0 auto 0 auto;
  width: 100px;
}

.riderItemDescDiv {
  text-align: center;
}

.riderItemButton {
  margin: auto;
}

.riderItemImage {
  margin-left: auto;
  margin-right: auto;
}

/*
*   ~_~_IMAGE CLASSES_~_~
*/
.avatar {
  margin-left: auto;
  margin-right: auto;
}

.userImage {
  max-width: 150px;
  max-height: 150px;
}

.imagePortrait {
  max-width: 180px;
  max-height: 180px;
}

.imageIcon {
  max-width: 70px;
  max-height: 70px;
}

.mediumImage {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

/*~_~_PROFILE STUFF_~_~*/

.profilePortraitContainer {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;;
  padding-left: 100px;
}

.profileItem {
  width:180px;
  text-align: center;
}

.profileAddress {
  width: 180px;
  text-align: center;
}
/*
*   ~_~_NAVBAR_~_~
*/

.navDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.bottomNav {
  text-align: center;
}

.BottomNavBarContainer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

/*
*   ~_~_MAP_~_~
*/

div.map {
  padding: .1%;
  height: 95vh;
  max-height: 500px;
}

.googleMap {
  max-height: 400px;
  max-width: 500px;
  height: 70%;
  width: 70%;
}

/*
*   ~_~FRIENDS LIST~_~
*/
.friendList {
  text-align: center;
}

.friendItem {
  margin: 25px;
}

.friendName {
  margin-top: 10px;
  font-weight: 500;
}

.addFriend {
  margin-bottom: 10px;
}

.form-group {
  display: inline-block;
}

.friendSubmit {
  margin-left: 5px;
}
/*
*   ~_~_BUTTONS_~_~
*/

.settingsButton {
  max-height: 25%;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.well {
  max-width: 400px;
  margin: 10px auto 8px;
  background-color: #838EA1;
  margin-left: auto;
  margin-right: auto;
}

.rightButton {
  max-height: 25%;
  max-width: 125px;
}

.duiFacts {
  background-color: #838EA1;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 75%;
  text-align: center;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

.settingsDiv {
  margin: auto;
}

.splashButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 85%;
}

.setPickupLocation {
  height: 60px;
}

/*
*   ~_~ Chat and Messages ~_~
*/

.MessageItemList {
  overflow-y: auto;
  height: 120px;
}

.driverItem {
  padding-bottom: 10px;
}

.driverItem .userName {
  display: inline-block;
  display: inline-table;
  vertical-align: middle;
}


.driverItem .imageIcon {
  display: inline-block;
}

.chatbox {
  position: fixed;
  top: 412px;
  width: 100%;
}

.textSubmit .messageSubmit {
  padding-top: 4px;
  padding-bottom: 4px;
}

.incoming {
  position:relative;
  padding:5px 10px;
  color:white; 
  background:#1A273B;
  border-radius:25px;
  float: right;
    
  &:before {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-2px;
    right:-7px;
    height:20px;
    border-right:20px solid #1A273B;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
  }

  &:after {
    content:"";
    position:absolute;
    z-index:1;
    bottom:-2px;
    right:-56px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-left-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}
.outgoing {
  position:relative;
  padding:px 10px;
  background:#E5E5EA;
  border-radius:25px;
  color: black;
  float: left;
    
  &:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-2px;
    left:-7px;
    height:20px;
    border-left:20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
  }

  &:after {
    content:"";
    position:absolute;
    z-index:3;
    bottom:-2px;
    left:4px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-right-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}

.clear {
  clear: both;
}

/* Jonathan's color: 62949F */
/*  who said so!? */
